// Desktop screen resolutions:
// http://gs.statcounter.com/#desktop-resolution-ww-monthly-201407-201507

@media-breakpoint-desktop:					1281px;

@media-breakpoint-tablet-max--standard:		1280px;
@media-breakpoint-tablet-min--standard:		668px;
@media-breakpoint-smartphone-max--standard: 667px;

@media-breakpoint-tablet-max--tiny:			1024px;
@media-breakpoint-tablet-min--tiny:			481px;
@media-breakpoint-smartphone-max--tiny:		480px;
@media-breakpoint-smartphone-min--tiny:		320px;

@desktop:			~"only screen and (min-width: @{media-breakpoint-desktop})";
@tablet:			~"only screen and (min-width: @{media-breakpoint-tablet-min--standard})";
@tablet-strict:		@tablet ~"and (max-width: @{media-breakpoint-tablet-max--standard})";

@phone:				~"only screen and (max-width: @{media-breakpoint-smartphone-max--standard})";

@landscape:			~"and (orientation: landscape)";
@portrait:			~"and (orientation: portrait)";


@tablet-landscape:	@tablet-strict@landscape; 
@tablet-portrait:	@tablet-strict@portrait; 
@phone-landscape:	@phone@landscape; 
@phone-portrait:	@phone@portrait; 


@con-main-width-desktop:		1240px;
@con-main-width-tablet:			100%;
@con-main-width-mobile:			100%;

@wrapper-main-width-desktop:	100%;
@wrapper-main-width-tablet:		100%;
@wrapper-main-width-mobile:		100%;